{% extends 'base_dashblog.html' %}
{% block title %} {{ post.title }}/post_{{ post.id }}{% endblock title %}
{% block containt %}

{% load static %}
<div class="container pt-3">
    <div class="jumbotron w-75">
        <h2>Developer Dash</h2>
        <div class="d-flex" id="wrapper">

            <!-- Page content wrapper-->
            <div id="page-content-wrapper">

                <!-- Page content-->
                <div class="container-fluid">
                  <div class="container-md">
                      <form class= "card" action="" method = "POST">
                          {% csrf_token %}
                          {{ form.as_p}}
                          <button class = "btn btn-primary type="submit"> Save </button>
                      </form>
                  </div>

                </div>
            </div>
        </div>

        <hr>
    </div>
</div>

{% endblock  %}
