{% extends 'base_registerdeveloper.html' %}
{% block body_block %}

<div class="jumbotron pt-3 w-75">
   {% if registered %}
        <h1>Thanks for registering, Please Log in!</h1>
    {% else %}
        <h1>Registration for Developers:</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{ var_developerForm.as_p }}
            {{ var_developerAddForm.as_p }}
            <input type="submit" value="Register" class="btn btn-primary">
        </form>
    {% endif %}
</div>


{% endblock %}
